html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root{
  background-image: url('../public/c144bcf5-8886-4245-942d-69be2d081738.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}