.finance{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: block;
    justify-content: center;
    align-items: center;
}

.home_btn{
    gap: 10px;
    width: 33.3%;
    border-radius: 25px;
}
.graph_btn{
    gap: 10px;
    width: 33.3%;
    border-radius: 25px;
}
.profile_btn{
    gap: 10px;
    width: 33.4%;
    border-radius: 25px;
}

.content_home{
    background-color: rgb(202, 167, 167);
    border-radius: 15px;
    margin-left: 35%;
    width: 30%;
    display: grid;
    position: relative;
    top: 50px;
    justify-content: center;
    align-items: center;
}
.add_btn{
    height: 50px;
    width: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-left: 35%;
}