html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root{
  background-image: url('../public/financial-investment-concept-double-exposure-city-night-stack-coins-finance-investor_488220-396.avif');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}